.App {
  text-align: center;
  background-color: #282c34;
  height: calc(100vh - 60px);
  color: white;
  padding: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid__cell {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

.grid__cell.active {
  background-color: black;
}

.grid {
  margin: 0 auto;
  border: 3px solid green;
  display: flex;
  flex-wrap: wrap;
  background-color: green;
  max-width: 420px;
}
